.box-container .qbox {
  background: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
}

.box-container .qbox h3 {
  font-size: 25px;
  padding: 17px 0;
  color: var(--darkOne);
  text-align: center;
  text-transform: capitalize;
}

.box-container .qbox .price {
  color: #fff;
  background: #64bcf4;
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
}

.box-container .qbox .price.year {
  display: none;
}

.box-container .qbox .list {
  margin: 15px 0;
}

.box-container .qbox .list p {
  text-align: center;
  padding: 7px 0;
  font-size: 17px;
  color: #666;
}

.quizzes-title {
  margin-top: 1rem;
}

.box-container .qbox .btn {
  margin: 20px;
  display: block;
  font-size: 17px;
  background: #5bacdf;
  color: #fff;
  text-align: center;
  padding: 10px;
}
